### DataFrames, Index/Columns, Basic Funcationality

In [15]:
import pandas as pd
import numpy as np

In [41]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[0.31,11,12]],columns=['A','B','C'],index=['W','X','Y','Z'])

In [42]:
df

      A   B   C
W  1.00   2   3
X  4.00   5   6
Y  7.00   8   9
Z  0.31  11  12

In [36]:
df.tail(3)

   A   B   C
X  4   5   6
Y  7   8   9
Z  0  11  12

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, W to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 128.0+ bytes

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, W to Z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 128.0+ bytes

In [30]:
df.describe()

              A          B          C
count  4.000000   4.000000   4.000000
mean   3.000000   6.500000   7.500000
std    3.162278   3.872983   3.872983
min    0.000000   2.000000   3.000000
25%    0.750000   4.250000   5.250000
50%    2.500000   6.500000   7.500000
75%    4.750000   8.750000   9.750000
max    7.000000  11.000000  12.000000

In [46]:
df.nunique()

A    4
B    4
C    4
dtype: int64

In [48]:
df.shape

(4, 3)

In [50]:
df.size

12