In [7]:
import pandas as pd
import numpy as np

In [8]:
record = {
    "Student Name":['Hasan','Qaim','Qamer','Ibrahim'],
    "Subject":['Data','Urdu','Biology','Computer'],
    "Marks":['42','46','54','55']
}

In [9]:
response = pd.DataFrame(record)

In [10]:
response

  Student Name   Subject Marks
0        Hasan      Data    42
1         Qaim      Urdu    46
2        Qamer   Biology    54
3      Ibrahim  Computer    55

In [11]:
response.to_csv('F_Marks.csv')

In [12]:
response.to_csv('F_Marks_withoutIndex.csv',index=False)

In [13]:
response.describe()

       Student Name Subject Marks
count             4       4     4
unique            4       4     4
top           Hasan    Data    42
freq              1       1     1

In [7]:
red = pd.read_csv('TestFile.csv')

NameError: name 'pd' is not defined

In [15]:
red

  Student Name   Subject  Marks
0        Hasan      Data     42
1         Qaim      Urdu     46
2        Qamer   Biology     54
3      Ibrahim  Computer     55

In [19]:
red['Marks'][1] = 50

C:\Users\araza\AppData\Local\Temp\ipykernel_2740\1103088646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red['Marks'][1] = 50

In [6]:
red

NameError: name 'red' is not defined

In [5]:
red

NameError: name 'red' is not defined

In [4]:
print('ali')

ali