In [1]:
print('This is only for testing.')

This is only for testing.

In [2]:
import pandas as pd
import numpy as np

In [6]:
res = pd.read_csv('F_Marks.csv')

In [7]:
res

  Student Name   Subject  Marks
0        Hasan      Data     42
1         Qaim      Urdu     46
2        Qamer   Biology     54
3      Ibrahim  Computer     55

In [9]:
res['Marks']

0    42
1    46
2    54
3    55
Name: Marks, dtype: int64

In [11]:
res['Marks'][1] = 50

C:\Users\araza\AppData\Local\Temp\ipykernel_12764\1392135244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['Marks'][1] = 50

In [12]:
res

  Student Name   Subject  Marks
0        Hasan      Data     42
1         Qaim      Urdu     50
2        Qamer   Biology     54
3      Ibrahim  Computer     55

In [17]:
res.to_csv('UpdatedFile.csv',index=False)

In [18]:
res.index = [1,2,3,4]

In [19]:
res

  Student Name   Subject  Marks
1        Hasan      Data     42
2         Qaim      Urdu     50
3        Qamer   Biology     54
4      Ibrahim  Computer     55

In [21]:
ser = pd.Series(np.random.rand(10))

In [22]:
ser

0    0.124953
1    0.157001
2    0.444557
3    0.556404
4    0.270792
5    0.477115
6    0.985571
7    0.109394
8    0.455518
9    0.245880
dtype: float64

In [26]:
intser = pd.Series(np.random.randint(1,10,10))

In [28]:
type(intser)

pandas.core.series.Series

In [ ]:
newdata = pd.DataFrame(np.random.rand(20,4))